*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.App{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.App button{
    margin: 20px;
}

/* MODAL */

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    background: white;
    width: 70%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
  }

  .send-modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    background: gray;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;  
  }

  .x-btn{
      position: absolute;
      top: 0;
      right: 0;
  }

  .next-btn{
      position: absolute;
      bottom: 0;
      right: 0;
  }

  .pair{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  }

  .input-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
  }